<a href="https://colab.research.google.com/github/gyeomsoon/start-1-html-css-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#변수
a = 4
b = 3.14
c = 'k'
str = 'abcdef'

In [14]:
#변수의 타입 확인
type(a)
type(b)
type(c)
print(type(str)) #class는 변수의 형태  (클래스를 실행시키면 오브젝트라고 함)

<class 'str'>

In [19]:
#float -> int 변환
b = 3.57
int(b)   #소수점 이하 생략 (why? 정수니까)

3

In [22]:
b = 3.14159
round(b, 3)    #소수점 셋째자리까지 출력(넷째자리에서 반올림)

3.142

In [23]:
#문자열 변수(String)
aStr = "python"       #큰따옴표
bStr = 'program'      #작은 따옴표 (아무거나 상관없음)

In [41]:
#문자열의 길이
print(len(aStr))     #len=길이  0 1 2 3 4 5
                    #          -6-5-4-3-2-1

6

In [40]:
print(aStr[-1])   #마이너스 넘버의 인덱스 번호 사용가능

n

In [39]:
# 문자열 슬라이싱
aStr[1:4]     #마지막 번호는 포함이 안된다! (1:4니까 yht)
aStr[1:]
aStr[:5]
aStr[-3:]

'hon'

In [38]:
#문자열과 *, + 연산자 사용가능
aStr * 3
aStr + bStr

'pythonprogram'

In [46]:
# 입력과 출력
a = int(input("Enter = "))
print(a)

Enter = 1234
1234

In [51]:
a = 1
b = 2
c = 3
print(a,b,c, sep='/')    #sep는 출력사이의 간격을 결정

1/2/3

In [55]:
print(aStr, end='\n')
print(bStr)

python program

In [62]:
#문자열의 format method
txt1 = "My name is {fname}, I'm {age} old".format(fname='kim', age=35)
print(txt1)
print("float number = {:.2f}".format(3.1415))

My name is kim, I'm 35 old
float number = 3.14